---
title: Hack.OSU
---
<div class="welcome">			<!-- This is the fancy header div at top of page -->
  <div class="row">
    <div class="small-12 large-12 column">
	  <!-- content goes here -->
    </div>
  </div>
</div>

<div class="row">			<!-- If you don't want the fancy div -->
  <div class="small-12 large-12 column">
	  <!-- content goes here -->
  </div>
</div>

<div class="row"> <!-- Example side nav like used on report-2013.html -->
  <div class="large-2 medium-4 column">
    <ul class="side-nav">
    <!-- 
    	use li for menu items 
    	http://foundation.zurb.com/docs/components/sidenav.html
    -->
		</ul>
	</div>
	<div class="large-10 medium-8 column" id="report">
	<!-- content goes here -->
	</div>
</div>

