---
title: Hack.OSU
---
<div class="welcome">			<!-- If you want the fancy header div at top of page -->
  <div class="row">
    <div class="small-12 large-12 column">

    </div>
  </div>
</div>

<div class="row">			<!-- If you don't want the fancy div -->
  <div class="small-12 large-12 column">
	  <!-- content goes here -->
  </div>
</div>
